.title1 {
  font-size: 4vw; 
  font-family: verdana; 
  color: #555;
}

body {
    height: 100%;
    width: 100%;
    background-color: #454545;
    transition: all 500ms linear;
    transition-delay: 1s;
}

body:hover{
    /*background-color: #111;*/
}

.settings {
  width: 2.2vw;
  height: 2.2vw;
  margin-top: 8px;
  background: var(--main-color);
  background: var(var-MainColor);
  border-style: solid;
  border-width: 1px;
  border-color: var(var-OppositeColor);
  border-color: var(--opposite-color);
  border-radius: 1px;
  position: relative;
  z-index:1;
  
  -webkit-transition: background 2s ease, width 1s linear, height 1s 1s ease-in;
  transition: background 2s ease, width 1s linear, height 1s 1s ease-in;
  
}

.show-settings {
  margin-top: 8px;
  width: 15vw;
  height: 10vw;
}

.box {
    position: relative;
    float: left;
    display: none;
    width: 0;
    height: 0;
    color: transparent;
    border-radius:5px;
    box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
    background-color: #333;
    -webkit-transition: width 8s ease, height 8s ease, background-color 2s ease, -webkit-transform 2s ease-out, color 2s ease-out;
    transition: width 6s ease, height 6s ease, background-color 2s ease, transform 4s ease-out, color 2s ease-out;
    z-index:0;
}

.box-visible {
    width: 100%;
    height: 34vw;
    z-index:0;
    color: #555;
    display: block;
}

/* the following code (until the next comment) came from an excellent w3schools tutorial, but I edited it a lot to fit my needs. */
.button {
  border-radius: 4px;
  background-color: #0194D8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
  z-index:1;
}

.button span {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index:1;
}

.button span:after {
  content: '\21E2';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
  z-index:1;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  z-index:1;
}

/* I did actually write the following code */
.footer {
  font-size:1vw; 
  font-family:verdana;
  color: #555;
}
